* { 
    margin: 0; 
    padding: 0; 
    -moz-box-sizing: border-box; 
    box-sizing: border-box;
    }

header {
  display: block;
  width: 100%;
  padding-bottom: 50px;
  border-bottom: 2px black solid;
}


/* Add a black background color to the top navigation */
.topnav {
  overflow: hidden;
  background-color: black;
}


/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    font-family: Helvetica, monospace;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    color: white;
}

/* Add an active class to highlight the current page */
.active {
    background-color: #ada7ff;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
    display: none;
}


/* Add a dark background on topnav links and the dropdown button on hover */
.topnav a:hover{
    background-color: #ada7ff;
}

#logo{
  width: 50px;
  float:left;
}

/* End of Naviagtion Styling */


.mochi-cats {
  position: fixed;
  top: 20px;
  right: 0%;

}   

#greeting{
  text-align: center;
  margin-top: 60px;
  font-family: Helvetica;
  color: black;
  margin-bottom: 0;
}

body {
    display: flex;
    flex-direction: column;
    color: black;
    text-align: justify;
    font-family: Helvetica;
  }

.container-parent a {
  text-decoration: none;
  color: black;
}


.container-parent a:hover{
  background-color: white;
}
  .container-parent {
    display: grid;
    width: 60%;
    /* border-style: dashed; */
    margin: auto;
    grid-template-columns: auto auto;
    padding: 10px;
    /* grid-template-rows: repeat(9, 5w);  */
  }
  
  .container {
    /* width: 600px;
    height: 250px; */
    /* object-fit: cover; */
    padding: 20px;
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background:rgba(173, 167, 255, 0.5);
  }


  .post-title {
    margin: 5px;
    padding: 5px;
    text-align: center;
  }

  .description {
    float: right;
    margin: 5px;
    padding: 5px;
    text-align: justify;

  }


/* footer styling */
footer {
    flex-shrink: 0;
    font-family: Helvetica;
    border-top: black 1px solid;
    text-align: center;
    background-color: black;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
    overflow: hidden;
}

#contact{
    list-style: none;
}

#contact li{
    display: inline-block;
}

#social-media{
    width: 50px;
    margin: auto;
    display: inline;
}

#social-media img{
    width: 15px
}