* { 
    margin: 0; 
    padding: 0; 
    -moz-box-sizing: border-box; 
    box-sizing: border-box;
    }

header {
  display: block;
  width: 100%;
  padding-bottom: 50px;
  border-bottom: 2px black solid;

}


/* Add a black background color to the top navigation */
.topnav {
  overflow: hidden;
  background-color: black;
}


/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    font-family: Helvetica, monospace;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    color: white;
}

/* Add an active class to highlight the current page */
.active {
    background-color:#ada7ff;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
    display: none;
}


/* Add a dark background on topnav links and the dropdown button on hover */
.topnav a:hover{
    background-color: #ada7ff;
}

#logo{
  width: 50px;
  float:left;
}

/* End of Naviagtion Styling */


.mochi-cats {
  position: fixed;
  top: 20px;
  right: 0%;

}   

#greeting{
  text-align: center;
  margin-top: 60px;
  font-family: Helvetica;
  color: black;
  margin-bottom: 0;
}


body {
  display: flex;
  flex-direction: column;
  color: black;
  text-align: justify;
  font-family: Helvetica;
  overflow-x: hidden;
}
  
.container-parent {
    padding: 50px;
}

.section-header {
    margin: 5px;
    padding: 20px;
    width: 100%;
    justify-content: center;
    text-align: center;
    /* border-style: dashed; */
}

.container {
    float: left;
    /* border-style: dashed; */
    width: 100%;
    padding: 20px;
    position: relative;
    display: table-cell;
  }

  .container img {
    width: 250px;
    padding: 10px;
  }

  .logos {
    padding: 20px;
    /* border-style: dashed; */
    display: inline-block;
    vertical-align: middle;
    height: 100%;

  }
   .job-details {
    display: inline-block;
    vertical-align: middle;
    padding: 20px;
    /* border-style: dashed; */
    max-width: 60%;
   }

  .project-details {
    display: inline-block;
    vertical-align: top;
    padding: 20px;
    max-width: 30%;
  }

  #blank {
    color: white;
  }
   
  p {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .project-title{
    display: inline;
  }
  .project-date{
    display: inline;
    float: right;
  }
  
  #additional-info{
    list-style: none;
    font-family: 'Roboto Mono', monospace;
  }

  

  /* footer styling */
footer {
    flex-shrink: 0;
    font-family: Helvetica;
    border-top: black 1px solid;
    text-align: center;
    background-color: black;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
    overflow: hidden;
}

#contact{
    list-style: none;
}

#contact li{
    display: inline-block;
}

#social-media{
    width: 50px;
    margin: auto;
    display: inline;
}

#social-media img{
    width: 15px
}
